<div class="forgot-password-container">
  <div class="forgot-password-header">
    <h2>Forgot Password</h2>
    <p>Enter your email to receive a verification code to reset your password.</p>
  </div>
  <div class="loader-container" [hidden]="!isLoading">
    <div class="loader">
      <div class="spinner"></div>
    </div>
  </div>
  <form (ngSubmit)="sendVerificationCode()" class="forgot-password-form">
    <div class="alert alert-danger" *ngIf="err==1">
      <strong>Email does not exist</strong>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>


    <button type="submit" class="btn-submit">Send Verification Code</button>
  </form>
</div>

